# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('Orders.csv', engine='python')
display(orders.head())

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
#Group by customerID and sum all the values. Order by the amount_spent.
aggregate = orders.groupby(['CustomerID', 'Country']).agg('sum').sort_values('amount_spent', ascending = False)


#The first group is VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile. 
#The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.

VIP = aggregate['amount_spent'].quantile(q=0.95)
VIP_customers = aggregate[aggregate['amount_spent']>=VIP] 
display(VIP_customers.head())


VIPss= VIP_customers.reset_index()
VIP_customers_ID = VIPss[['CustomerID', 'amount_spent']]
#display(VIP_customers_ID.head())

,,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,Country,,,,,,,,,
14646,Netherlands,544561120,1163267611,4182810,14191,6552,24488,197491,5176.09,280206.02
18102,United Kingdom,138022684,243297801,866723,3746,1261,5587,64124,1940.92,259657.30
17450,United Kingdom,92683919,188845149,677704,2292,842,4140,69993,1143.32,194550.79
16446,United Kingdom,929130,1688629,6033,22,11,27,80997,4.98,168472.50
14911,EIRE,1737367680,3196374868,11416155,46220,18930,68148,80515,26185.72,143825.06

In [4]:
Preferred = aggregate['amount_spent'].quantile(q=0.75)
display(Preferred)

VIP_preferred1 = aggregate[aggregate['amount_spent'] >= Preferred]
VIP_preferred2 = VIP_preferred1[VIP_preferred1['amount_spent'] < VIP]
display(VIP_preferred2.head())
VIPss_preferred = VIP_preferred2.reset_index()
Preferred_customers = VIPss_preferred[['CustomerID', 'amount_spent']]
#display(Preferred_customers.head())

1661.1950000000002

,,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,Country,,,,,,,,,
15218,United Kingdom,41221248,92641005,333826,1009,302,1823,3329,513.44,5756.89
17686,United Kingdom,72758466,159766169,575146,1824,905,3433,2478,1103.64,5739.46
13178,United Kingdom,59276272,147365548,532883,1858,872,3321,3570,542.34,5725.47
16553,United Kingdom,10948254,46009406,168907,463,270,1098,4600,179.86,5719.82
13468,United Kingdom,60617105,167242110,607269,2119,1021,3744,2589,1239.18,5704.97

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [21]:
countries_VIP_max = VIP_customers.groupby(['Country']).count().max()
display(countries_VIP_max)
countries_VIP = VIP_customers.groupby(['Country']).count().sort_values('amount_spent', ascending = False).head(1)




display(countries_VIP)
#country_noindex = countries_VIP.reset_index()


#No consigo sacar el nombre. Pero es UK en Q2 y Q3.

Unnamed: 0      178
InvoiceNo       178
year            178
month           178
day             178
hour            178
Quantity        178
UnitPrice       178
amount_spent    178
dtype: int64

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
Country,,,,,,,,,
United Kingdom,178,178,178,178,178,178,178,178,178

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [23]:
countries_preferred = VIP_preferred2.groupby(['Country']).count()
combined = countries_VIP+countries_preferred.sort_values('amount_spent', ascending = False).head(1)
display(combined)

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
Country,,,,,,,,,
United Kingdom,934,934,934,934,934,934,934,934,934