# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [7]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [8]:
orders = pd.read_csv('Orders.csv', engine='python')
display(orders.head())

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [9]:
#Group by customerID and sum all the values. Order by the amount_spent.
aggregate = orders.groupby(['CustomerID']).agg('sum').sort_values('amount_spent', ascending = False)

#The first group is VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile. 
#The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.

VIP = aggregate['amount_spent'].quantile(q=0.95)
VIP_customers = aggregate[aggregate['amount_spent']>=VIP]
display(VIP_customers.head())

#VIPss= VIP_customers.reset_index()
#VIP_customers_ID = VIPss[['CustomerID', 'amount_spent']]
#display(VIP_customers_ID.head())

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
14646,544561120,1163267611,4182810,14191,6552,24488,197491,5176.09,280206.02
18102,138022684,243297801,866723,3746,1261,5587,64124,1940.92,259657.30
17450,92683919,188845149,677704,2292,842,4140,69993,1143.32,194550.79
16446,929130,1688629,6033,22,11,27,80997,4.98,168472.50
14911,1737367680,3196374868,11416155,46220,18930,68148,80515,26185.72,143825.06

In [4]:
Preferred = aggregate['amount_spent'].quantile(q=0.75)
display(Preferred)

VIP_preferred1 = aggregate[aggregate['amount_spent'] >= Preferred]
VIP_preferred2 = VIP_preferred1[VIP_preferred1['amount_spent'] < VIP]

VIPss_preferred = VIP_preferred2.reset_index()
Preferred_customers = VIPss_preferred[['CustomerID', 'amount_spent']]
display(Preferred_customers.head())

1661.6400000000003

   CustomerID  amount_spent
0       13050       5836.86
1       12720       5781.73
2       15218       5756.89
3       17686       5739.46
4       13178       5725.47

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [5]:
aggregate = orders.groupby(['CustomerID']).
countries_VIP = VIP_customers.groupby(['Country'])


#la tabala VIP_customers no tiene country

KeyError: 'Country'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here